<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>NWPC Monitor Platform</title>
</head>

<body class="text-center">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">NWPC业务监控平台</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">首页</a>
        <a class="nav-link" href="#">功能</a>
        <a class="nav-link" href="#">帮助</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">NWPC 业务监控平台</h1>
    <p class="lead">请输入用户名</p>
    <div class="lead" id="explore-owner-section"></div>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>NWPC业务监控网站, by <a href="https://github.com/perillaroc">perillaroc</a>.</p>
    </div>
  </footer>
</div>

<script type="text/javascript" src="/static/dist/vendor.bundle.js"></script>
<script type="text/javascript" src="/static/dist/welcome.entry.js"></script>

</body>
</html>